<div class="row">
  <h3>{{!post.id ? 'Criar Post' : 'Editar Post'}}</h3>


  <form class="form-horizontal" role="form" (submit)="save();">

    <div class="form-group">
      <div class="">
        <label for="title" class="control-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)] ="post.title">
      </div>
    </div>

    <div class="form-group">
      <div class="">
        <label for="body" class="control-label">Body</label>
        <textarea type="text" class="form-control" id="body" name="body" [(ngModel)] ="post.body"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="">
        <app-button type="submit" color="primary">
            {{!post.id ? 'Criar' : 'Editar'}}
        </app-button>
      </div>
    </div>
  </form>


</div>
